################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/TwitterSample/obj
/TwitterSample/bin
/UnitTests/obj
/UnitTests/bin
/Frontend/obj
/Frontend/bin
