@inherits LayoutComponentBase

<PageTitle>Frontend</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="justify-content: safe center;">
            <h4>@HeaderTitle</h4>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Parameter]
    public static string HeaderTitle { get; set; }
}